# Virtual Environment
venv/
Backend/venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Node Modules
node_modules/

# Database
*.db

# Vector DB / FAISS
faiss_index/

# OS Files
.DS_Store

# VS Code
.vscode/

# Testing
.pytest_cache/

# Logs
*.log