fastapi==0.115.9
uvicorn==0.47.0

langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.29

langchain-google-genai==2.1.12
langchain-groq==0.3.8
langchain-pinecone==0.2.12
langchain-text-splitters==0.3.11

pinecone==7.3.0

google-genai==1.75.0

pydantic==2.13.4
python-dotenv==1.2.2
requests==2.34.2

motor==3.7.1
pymongo==4.14.1